<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:anddroid="http://schemas.android.com/apk/res-auto"
    package="com.example.dimit.tria">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/farm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddActivity" />
        <activity
            android:name=".First"
            anddroid:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicActivity" />
        <activity android:name=".FinanceActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".DiagramActivity"></activity>
    </application>

</manifest>